In [ ]:
#1
'''
A database is an organized collection of data that can be stored, accessed, and managed by a computer system.

SQL Database: A SQL database, also known as a relational database, is a type of database that organizes data into one or more tables with a fixed schema.

NoSQL Database: A NoSQL database, also known as a non-relational database, is a type of database that does not organize data into tables with a fixed schema.
'''

In [ ]:
#2
'''
DDL - Data Definition Language

CREATE - used to create new database objects
DROP - used to delete existing database objects
ALTER - used to modify the existing structure of database objects
TRUNCATE - used to remove all the data from the table except structure

'''

In [ ]:
#3
'''
DML - Data Manipulation Language

INSERT - used to add new data to the table.
UPDATE - used to modify existing data in a table.
DELETE - used to remove data from table.


'''

In [ ]:
#4
'''
DQL - Data Query Language

SELECT - used to query the database and retrieve data based on specified criteria.
ex:
SELECT * FROM STUDENT.BIO
retrieves data from table BIO in database STUDENT
'''

In [ ]:
#5
'''
Primary key: It is a column or group of columns used to uniquely identify each row in a table.
Foreign key: It is a column or group of columns used to establish a relationship between two tables by referencing the primary key of one table in another table.
'''

In [ ]:
#6
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS STUDENT.BIO (REG_NO INT,NAME VARCHAR(20))")
mycursor.execute("INSERT INTO STUDENT.BIO VALUES(1201,'Ramesh')")
mycursor.execute("SELECT * FROM STUDENT.BIO")  
for i in mycursor:
    print(i)
'''
cursor() - The cursor() method is used to create a cursor object, which allows the Python program to execute SQL queries on a database.
execute() - The execute() method takes a single argument, which is a string containing the SQL query to be executed.
'''

In [ ]:
#7
'''
    SELECT
    FROM
    JOIN
    WHERE 
    GROUP BY
    HAVING
    ORDER BY
    LIMIT
'''