In [1]:
import pandas as pd

In [15]:
#1
ls = [4,8,15,16,23,42]
s = pd.Series(ls)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#2
l = [1,2,3,4,5,6,7,8,9,10]

In [4]:
print(pd.Series(l))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
#3
data = {
        'Name':['Alice','Bob','Claire'],
        'Age':[25,30,27],
        'Gender':['Female','Male','Female']
        }
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
#4
#DataFrame - tabular structured data
print('--DataFrame--')
print(df)
print(type(df))
#Series - single column of dataframe
print('--Series--')
print(df['Name'])
print(type(df['Name']))

--DataFrame--
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>
--Series--
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object
<class 'pandas.core.series.Series'>

In [13]:
#5
#dataset.head(n)-returns first n rows of data
print("--head--")
print(df.head(2))
print("--tail--")
print(df.tail(2))

--head--
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
--tail--
     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#6
'''DataFrame,Series,Panel are mutable'''

In [18]:
#7
data1 = {
    'l1':pd.Series(ls),
    'l2':pd.Series(l)
}
df1 = pd.DataFrame(data1)
print(df1)

     l1  l2
0   4.0   1
1   8.0   2
2  15.0   3
3  16.0   4
4  23.0   5
5  42.0   6
6   NaN   7
7   NaN   8
8   NaN   9
9   NaN  10